<h1>Articles</h1>
<div class="content">
  <% if allow? 'articles', 'new' %>
    <%= link_to "Create new article", new_article_path %>
  <% end %>
</div>

<div id="articles">
  <%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>
  <% @articles.each do |article| %>
    <%= render partial: 'article_line', locals: { article: article } %>
  <% end %>
  <%= will_paginate @products, previous_label: h("<"), next_label: h(">") %>
</div>
